*{
    margin:0;
    padding:0
}
.child1{
    height: 200px;
    width: 200px;
    background-color: blue;
}
.child2{
    height: 200px;
    width: 200px;
    background-color:maroon;
}
.child3{
    height: 200px;
    width: 200px;
    background-color: red;
}
.parent{
    height: 100vh;
}

